- id: sync_office_plug_to_light
  alias: Sync office plug → light
  description: Keep office plug and light in sync
  trigger:
  - platform: state
    entity_id: switch.office_plug
  action:
  - choose:
    - conditions:
      - condition: state
        entity_id: switch.office_plug
        state: 'on'
      sequence:
      - service: light.turn_on
        target:
          entity_id: light.office_double_switch_light
    - conditions:
      - condition: state
        entity_id: switch.office_plug
        state: 'off'
      sequence:
      - service: light.turn_off
        target:
          entity_id: light.office_double_switch_light
  mode: restart
- id: sync_light_to_office_plug
  alias: Sync light → office plug
  description: Keep light and office plug in sync
  trigger:
  - platform: state
    entity_id: light.office_double_switch_light
  action:
  - choose:
    - conditions:
      - condition: state
        entity_id: light.office_double_switch_light
        state: 'on'
      sequence:
      - service: switch.turn_on
        target:
          entity_id: switch.office_plug
    - conditions:
      - condition: state
        entity_id: light.office_double_switch_light
        state: 'off'
      sequence:
      - service: switch.turn_off
        target:
          entity_id: switch.office_plug
  mode: restart
- id: '1765314609026'
  alias: Morning lights
  description: 'Turn on salt lamp, then kitchen plug, then kitchen light outlet if
    motion detected between midnight and sunrise

    '
  triggers:
  - trigger: state
    entity_id: binary_sensor.living_room_pir
    to: 'on'
  - trigger: state
    entity_id: binary_sensor.kitchen_pir
    to: 'on'
  conditions:
  - condition: time
    after: 00:00:00
  - condition: sun
    before: sunrise
    before_offset: 00:30:00
  actions:
  - action: switch.turn_on
    target:
      entity_id: switch.salt_lamp_outlet
  - action: switch.turn_on
    target:
      entity_id: switch.kitchen_plug
  - delay: '00:00:00.5'
  - action: switch.turn_on
    target:
      entity_id: switch.kitchen_light_outlet
  - wait_for_trigger:
    - trigger: template
      value_template: "{{ is_state('binary_sensor.living_room_pir','off') and\n   is_state('binary_sensor.kitchen_pir','off')
        }}\n"
      for: 00:20:00
  - action: switch.turn_off
    target:
      entity_id:
      - switch.salt_lamp_outlet
      - switch.kitchen_light_outlet
  mode: restart
- id: '1765314842666'
  alias: Lights off sunrise
  description: Turn off kitchen light outlet and salt lamp 15 minutes after sunrise
  triggers:
  - event: sunrise
    offset: 00:30:00
    trigger: sun
  actions:
  - target:
      entity_id:
      - switch.kitchen_light_outlet
      - switch.salt_lamp_outlet
    action: switch.turn_off
  - type: turn_off
    device_id: 3445767a72a4715d3c1b2b851910753b
    entity_id: 26f311b2f639ca2a05008a8ac4c42b0f
    domain: light
  mode: single
- id: '1765314893973'
  alias: Lights on sunset
  description: Ensure kitchen plug, light outlet, and salt lamp are on 5 minutes before
    sunset
  triggers:
  - event: sunset
    offset: -00:20:00
    trigger: sun
  conditions:
  - condition: or
    conditions:
    - condition: state
      entity_id: switch.kitchen_plug
      state: 'off'
    - condition: state
      entity_id: switch.kitchen_light_outlet
      state: 'off'
    - condition: state
      entity_id: switch.salt_lamp_outlet
      state: 'off'
  actions:
  - target:
      entity_id:
      - switch.kitchen_plug
      - switch.kitchen_light_outlet
      - switch.salt_lamp_outlet
    action: switch.turn_on
  mode: single
- id: '1765315688617'
  alias: Upstairs Button Toggle Lights
  description: Ensure kitchen plug and salt lamp are on, then turn on kitchen light
    when Kitchen Button is pressed
  triggers:
  - device_id: caddb361d049ca61c5aa90d33966e74f
    domain: zha
    type: remote_button_short_press
    subtype: button
    trigger: device
  actions:
  - target:
      entity_id:
      - switch.kitchen_plug
      - switch.salt_lamp_outlet
    action: switch.turn_on
  - delay: 00:00:02
  - target:
      entity_id: switch.kitchen_light_outlet
    action: switch.turn_on
  mode: single
- id: '1765315741794'
  alias: Upstairs Button Double Click Toggle AV Plug
  description: Toggle AV plug when Kitchen Button is double clicked
  triggers:
  - device_id: caddb361d049ca61c5aa90d33966e74f
    domain: zha
    type: remote_button_double_press
    subtype: button
    trigger: device
  actions:
  - target:
      entity_id: switch.av_plug
    action: switch.toggle
  mode: single
- id: '1765315913549'
  alias: Upstairs Button Long Press Bedtime Script
  description: Run bedtime scene, wait 5 seconds, then turn off the plug
  triggers:
  - domain: zha
    device_id: caddb361d049ca61c5aa90d33966e74f
    type: remote_button_long_press
    subtype: button
    trigger: device
  actions:
  - target:
      entity_id: scene.bedtime
    action: scene.turn_on
  - delay: 00:00:05
  - target:
      device_id: a089abc1f60dcb347028ed2c67008c3e
      entity_id: switch.96fbbfd7bff006d91eeb3f9ba94a151e
    action: switch.turn_off
  mode: single
- id: '1765728373032'
  alias: Office Double Switch Sync On (dark only)
  description: 'When office_double_switch_light is turned on, also turn on office_double_switch_light_2
    if it''s before sunrise+15 minutes or after sunset-15 minutes.

    '
  triggers:
  - entity_id: light.office_double_switch_light
    to: 'on'
    trigger: state
  conditions:
  - condition: or
    conditions:
    - condition: sun
      before: sunrise
      before_offset: +00:15:00
    - condition: sun
      after: sunset
      after_offset: -00:15:00
  actions:
  - target:
      entity_id: light.office_double_switch_light_2
    action: light.turn_on
  mode: single
- id: '1765728446907'
  alias: Office Double Switch Sync Off
  description: 'When office_double_switch_light is turned off, also turn off office_double_switch_light_2
    if it is currently on.

    '
  triggers:
  - entity_id: light.office_double_switch_light
    to: 'off'
    trigger: state
  conditions: []
  actions:
  - target:
      entity_id: light.office_double_switch_light_2
    action: light.turn_off
  mode: single
- id: '1766592047367'
  alias: Kitchen button toggle downstairs lights
  description: ''
  triggers:
  - device_id: 315387a9f30043b38e058ce2ae6f8975
    domain: zha
    type: remote_button_short_press
    subtype: button
    trigger: device
  conditions: []
  actions:
  - target:
      entity_id:
      - switch.salt_lamp_outlet
      - switch.kitchen_light_mss110_main_channel
    action: switch.toggle
  mode: single
- id: '1766592150822'
  alias: 'Kitchen button AV toggle '
  description: ''
  triggers:
  - device_id: 315387a9f30043b38e058ce2ae6f8975
    domain: zha
    type: remote_button_double_press
    subtype: button
    trigger: device
  conditions: []
  actions:
  - type: toggle
    device_id: 161c44d43161cf4763d51da0782c9493
    entity_id: e1134b684179cc87e1ef12fc46561343
    domain: switch
  mode: single
- id: '1766592289378'
  alias: Kitchen button toggle office plug
  description: ''
  triggers:
  - device_id: 315387a9f30043b38e058ce2ae6f8975
    domain: zha
    type: remote_button_long_press
    subtype: button
    trigger: device
  conditions: []
  actions:
  - type: toggle
    device_id: 8da56138689c88542dc461f085b3854f
    entity_id: 2eb381e848cbc02f792ccc91ac084daa
    domain: light
  mode: single
