- id: sync_office_plug_to_light
  alias: Sync office plug → light
  description: Keep office plug and light in sync
  trigger:
  - platform: state
    entity_id: switch.office_plug
  action:
  - choose:
    - conditions:
      - condition: state
        entity_id: switch.office_plug
        state: 'on'
      sequence:
      - service: light.turn_on
        target:
          entity_id: light.office_double_switch_light
    - conditions:
      - condition: state
        entity_id: switch.office_plug
        state: 'off'
      sequence:
      - service: light.turn_off
        target:
          entity_id: light.office_double_switch_light
  mode: restart
- id: sync_light_to_office_plug
  alias: Sync light → office plug
  description: Keep light and office plug in sync
  trigger:
  - platform: state
    entity_id: light.office_double_switch_light
  action:
  - choose:
    - conditions:
      - condition: state
        entity_id: light.office_double_switch_light
        state: 'on'
      sequence:
      - service: switch.turn_on
        target:
          entity_id: switch.office_plug
    - conditions:
      - condition: state
        entity_id: light.office_double_switch_light
        state: 'off'
      sequence:
      - service: switch.turn_off
        target:
          entity_id: switch.office_plug
  mode: restart
- id: '1765314609026'
  alias: Morning lights
  description: 'Turn on salt lamp, then kitchen plug, then kitchen light outlet if
    motion detected between midnight and sunrise

    '
  triggers:
  - trigger: state
    entity_id: binary_sensor.living_room_pir
    to: 'on'
  - trigger: state
    entity_id: binary_sensor.kitchen_pir
    to: 'on'
  conditions:
  - condition: time
    after: 00:00:00
  - condition: sun
    before: sunrise
    before_offset: -00:15:00
  actions:
  - action: switch.turn_on
    target:
      entity_id: switch.salt_lamp_outlet
  - action: switch.turn_on
    target:
      entity_id: switch.kitchen_plug
  - delay: '00:00:00.5'
  - action: switch.turn_on
    target:
      entity_id: switch.kitchen_light_outlet
  - wait_for_trigger:
    - trigger: template
      value_template: "{{ is_state('binary_sensor.living_room_pir','off') and\n   is_state('binary_sensor.kitchen_pir','off')
        }}\n"
      for: 00:20:00
  - action: switch.turn_off
    target:
      entity_id:
      - switch.salt_lamp_outlet
      - switch.kitchen_light_outlet
  mode: restart
- id: '1765314842666'
  alias: Lights off sunrise
  description: Turn off kitchen light outlet and salt lamp 15 minutes after sunrise
  trigger:
  - platform: sun
    event: sunrise
    offset: 00:15:00
  action:
  - service: switch.turn_off
    target:
      entity_id:
      - switch.kitchen_light_outlet
      - switch.salt_lamp_outlet
  mode: single
- id: '1765314893973'
  alias: Lights on sunset
  description: Ensure kitchen plug, light outlet, and salt lamp are on 5 minutes before
    sunset
  trigger:
  - platform: sun
    event: sunset
    offset: -00:05:00
  condition:
  - condition: or
    conditions:
    - condition: state
      entity_id: switch.kitchen_plug
      state: 'off'
    - condition: state
      entity_id: switch.kitchen_light_outlet
      state: 'off'
    - condition: state
      entity_id: switch.salt_lamp_outlet
      state: 'off'
  action:
  - service: switch.turn_on
    target:
      entity_id:
      - switch.kitchen_plug
      - switch.kitchen_light_outlet
      - switch.salt_lamp_outlet
  mode: single
- id: '1765315688617'
  alias: Kitchen Button Toggle Lights
  description: Ensure kitchen plug is on, then toggle lights when Kitchen Button is
    pressed
  trigger:
  - platform: device
    device_id: caddb361d049ca61c5aa90d33966e74f
    domain: zha
    type: remote_button_short_press
    subtype: button
  action:
  - service: switch.turn_on
    target:
      entity_id: switch.kitchen_plug
  - service: switch.toggle
    target:
      entity_id:
      - switch.kitchen_light_outlet
      - switch.salt_lamp_outlet
  mode: single
- id: '1765315741794'
  alias: Kitchen Button Double Click Toggle AV Plug
  description: Toggle AV plug when Kitchen Button is double clicked
  trigger:
  - platform: device
    device_id: caddb361d049ca61c5aa90d33966e74f
    domain: zha
    type: remote_button_double_press
    subtype: button
  action:
  - service: switch.toggle
    target:
      entity_id: switch.av_plug
  mode: single
- id: '1765315913549'
  alias: Kitchen Button Long Press Bedtime Script
  description: Wait 2 minutes after long press, then run the Bedtime Ordered script
  trigger:
  - platform: device
    device_id: caddb361d049ca61c5aa90d33966e74f
    domain: zha
    type: remote_button_long_press
    subtype: button
  action:
  - delay: 00:02:00
  - service: script.turn_on
    target:
      entity_id: script.bedtime_ordered
  mode: single
